In [3]:
import pandas as pd
import numpy as np
from perspective import PerspectiveWidget

In [4]:
#  !pip install pylantern
import lantern as l

# basic
df = l.superstore(100)
line = l.line()

# Row Pivots

In [5]:
df_pivoted = df.set_index(['Country', 'Region'])

In [6]:
df_pivoted.head()

                  Row ID    Order ID  Order Date   Ship Date       Ship Mode  \
Country Region
US      Region 0       0  24-8244040  2020-06-07  2020-08-16     First Class
        Region 3       1  16-6193512  2020-08-04  2020-08-19     First Class
        Region 0       2  90-0962042  2020-08-19  2020-08-24  Standard Class
        Region 3       3  04-5374248  2020-04-28  2020-08-31     First Class
        Region 1       4  46-4203076  2020-08-25  2020-10-20  Standard Class

                 Customer ID Segment            City           State  \
Country Region
US      Region 0     AXA 794       C      Davidville           Texas
        Region 3     PST6978       D    Russellville         Arizona
        Region 0     490-SRY       A  South Jennifer        Missouri
        Region 3      252UJI       D     South Tammy  South Carolina
        Region 1     I24 8ZY       A        Johnfort          Alaska

                 Postal Code         Product ID                    Category  \
Country Region
US      Region 0       82012  ZJRY9984983607225                 Industrials
        Region 3       39477  RJLO8680897381382  Telecommunication Services
        Region 0       70340  KWWT1275468577417                   Utilities
        Region 3       53258  ZWZZ4103209064690      Information Technology
        Region 1       85627  WRPC7605401791175                 Health Care

                                                    Sub-Category  Sales  \
Country Region
US      Region 0                Trading Companies & Distributors   5800
        Region 3          Diversified Telecommunication Services   9000
        Region 0                                Water Utilities     200
        Region 3  Electronic Equipment, Instruments & Components   4500
        Region 1                                 Pharmaceuticals   3800

                  Quantity  Discount  Profit
Country Region
US      Region 0       610     65.16  788.72
        Region 3       580     26.63  801.83
        Region 0       490     68.65  969.04
        Region 3       300     67.68  760.95
        Region 1       160     74.31  895.58

In [7]:
psp = PerspectiveWidget(df_pivoted)
psp

PerspectiveWidget(columns=['index', 'Country', 'Region', 'Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Shiâ€¦

# Column Pivots

In [8]:
arrays = [np.array(['bar', 'bar', 'bar', 'bar', 'baz', 'baz', 'baz', 'baz', 'foo', 'foo', 'foo', 'foo', 'qux', 'qux', 'qux', 'qux']),
          np.array(['one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two']),
          np.array(['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'])]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second', 'third',])

df_col = pd.DataFrame(np.random.randn(3, 16), index=['A', 'B', 'C'], columns=index)
df_col

first        bar                                     baz                      \
second       one                 two                 one                 two
third          X         Y         X         Y         X         Y         X
A       0.580793  1.141832  0.159883  0.922927  2.423692  0.009275 -0.930781
B       0.433698  0.516723 -2.397341  0.224986 -0.478721 -0.061513 -0.132770
C       1.365292 -0.216292 -0.045134  1.319818 -1.384800  0.074823  0.399102

first                  foo                                     qux            \
second                 one                 two                 one
third          Y         X         Y         X         Y         X         Y
A       0.601759 -0.316166 -0.402357 -0.069124  1.033409  0.449570 -1.330785
B       1.794864 -0.742003 -1.715133 -1.539902  0.201406 -2.291293 -0.822773
C      -1.036226 -1.305219 -1.000699  0.568574 -0.970299 -0.154825 -0.126228

first
second       two
third          X         Y
A       0.363953 -0.963806
B      -1.799388 -0.671583
C       0.654032 -0.007425

In [9]:
psp = PerspectiveWidget(df_col)
psp

PerspectiveWidget(column_pivots=['first', 'second', 'third'], columns=[' '], row_pivots=['index'])

# Pivot Table (Row and Column Pivots)

In [10]:
pt = pd.pivot_table(df, values = 'Discount', index=['Country','Region'], columns = ['Category', 'Segment'])
pt.head()

Category         Consumer Discretionary                        \
Segment                               A       B      C      D
Country Region
US      Region 0                    NaN     NaN   3.32    NaN
        Region 1                    NaN  42.920  57.90    NaN
        Region 2                    NaN  42.465    NaN    NaN
        Region 3                    NaN  91.770   2.36  72.01
        Region 4                  21.99     NaN  64.22    NaN

Category         Consumer Staples                      Energy         ...  \
Segment                         A     B       C      D      A      B  ...
Country Region                                                        ...
US      Region 0              NaN   NaN     NaN    NaN    NaN    NaN  ...
        Region 1              NaN   NaN     NaN  85.61  85.76    NaN  ...
        Region 2            52.11   NaN  52.755  68.55  84.19    NaN  ...
        Region 3              NaN  1.52  27.080  79.50    NaN  72.92  ...
        Region 4              NaN   NaN     NaN    NaN  32.56    NaN  ...

Category         Real Estate               Telecommunication Services         \
Segment                    A      C      D                          A      B
Country Region
US      Region 0         NaN    NaN    NaN                        NaN  60.54
        Region 1       45.09  85.85    NaN                      14.82    NaN
        Region 2         NaN    NaN    NaN                      32.39    NaN
        Region 3         NaN    NaN    NaN                        NaN    NaN
        Region 4         NaN  31.65  71.35                      55.03    NaN

Category                       Utilities
Segment               C      D         A      B      C
Country Region
US      Region 0  39.97    NaN    72.105    NaN  59.66
        Region 1    NaN  40.66     5.280    NaN    NaN
        Region 2    NaN    NaN       NaN    NaN    NaN
        Region 3  16.78  26.63       NaN    NaN   6.23
        Region 4    NaN    NaN    41.110  72.23    NaN

[5 rows x 39 columns]

In [11]:
psp = PerspectiveWidget(pt)
psp

PerspectiveWidget(column_pivots=['Category', 'Segment'], columns=[' '], row_pivots=['Country', 'Region'])

# More Pivot examples

In [14]:
arrays = {'A':['bar', 'bar', 'bar', 'bar', 'baz', 'baz', 'baz', 'baz', 'foo', 'foo', 'foo', 'foo', 'qux', 'qux', 'qux', 'qux'],
          'B':['one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'two'],
          'C':['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'],
          'D':np.arange(16)}

df = pd.DataFrame(arrays)
df

      A    B  C   D
0   bar  one  X   0
1   bar  one  Y   1
2   bar  two  X   2
3   bar  two  Y   3
4   baz  one  X   4
5   baz  one  Y   5
6   baz  two  X   6
7   baz  two  Y   7
8   foo  one  X   8
9   foo  one  Y   9
10  foo  two  X  10
11  foo  two  Y  11
12  qux  one  X  12
13  qux  one  Y  13
14  qux  two  X  14
15  qux  two  Y  15

In [17]:
df_pivot=df.pivot_table(values=['D'], index=['A'], columns=['B','C'], aggfunc={'D':'count'})
df_pivot

In [18]:
df_pivot.index

Index(['bar', 'baz', 'foo', 'qux'], dtype='object', name='A')

In [21]:
df_pivot.columns

MultiIndex([('D', 'one', 'X'),
            ('D', 'one', 'Y'),
            ('D', 'two', 'X'),
            ('D', 'two', 'Y')],
           names=[None, 'B', 'C'])

In [24]:
psp = PerspectiveWidget(df_pivot)
psp

PerspectiveWidget(column_pivots=['B', 'C'], columns=[' '], row_pivots=['A'])

In [13]:
psp = PerspectiveWidget(df_pivot, row_pivots=['A'], column_pivots=['B', 'C'])
psp

TypeError: super(type, obj): obj must be an instance or subtype of type

In [14]:
import lantern as l
df = l.superstore(100)
pt = pd.pivot_table(df, values = ['Discount','Sales'], index=['Country','Region'],aggfunc={'Discount':'count','Sales':'sum'},columns=["State","Quantity"])
pt

                 Discount                                                    \
State             Alabama      Alaska      Arizona      Arkansas California
Quantity              80   320    160  230     700  830      200        890
Country Region
US      Region 0      NaN  NaN    NaN  1.0     NaN  NaN      NaN        NaN
        Region 1      1.0  NaN    NaN  NaN     NaN  NaN      NaN        NaN
        Region 2      NaN  NaN    NaN  NaN     NaN  NaN      1.0        NaN
        Region 3      NaN  NaN    1.0  NaN     NaN  1.0      NaN        NaN
        Region 4      NaN  1.0    NaN  NaN     1.0  NaN      NaN        1.0

                                       ...         Sales                  \
State            Colorado Connecticut  ... West Virginia
Quantity              650         270  ...           300     670     850
Country Region                         ...
US      Region 0      NaN         NaN  ...           NaN     NaN  4300.0
        Region 1      1.0         NaN  ...           NaN     NaN     NaN
        Region 2      NaN         1.0  ...           NaN     NaN     NaN
        Region 3      NaN         NaN  ...           NaN     NaN     NaN
        Region 4      NaN         NaN  ...        3300.0  5100.0     NaN


State                            Wisconsin Wyoming
Quantity             950     960       230     50      80      180     660
Country Region
US      Region 0     NaN  7600.0    2500.0     NaN     NaN     NaN     NaN
        Region 1     NaN     NaN       NaN     NaN  1300.0     NaN     NaN
        Region 2     NaN     NaN       NaN     NaN     NaN     NaN  5600.0
        Region 3  3700.0     NaN       NaN     NaN     NaN  1700.0     NaN
        Region 4     NaN     NaN       NaN  9300.0     NaN     NaN     NaN

[5 rows x 198 columns]

In [15]:
PerspectiveWidget(pt)

TypeError: super(type, obj): obj must be an instance or subtype of type